:root {
  --primary-color: #2b2b2b;
  --secondary-color: #707070;
  --container-color: radial-gradient(#5c5c5c, #2b2b2b);
  --text-color: white;
  --button-color: #2b2b2b;
}

.white-mode {
  --primary-color: #2b2b2b;
  --secondary-color: #dddcdc;
  --container-color: radial-gradient(#ececec, #c9c9c9);
  --text-color: black;
  --button-color: #949494;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}

body {
  background: var(--secondary-color);
  height: 100%;
}

/** -------------------------------------------------------- News -------------------------------------------------------- */
.news {
  padding: 100px 60px 0 60px;
}

.img-container {
  position: relative;
}

.img-container img {
  width: 100%;
  height: 35vh;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.desc {
  color: white;
  padding: 5px 10px 5px 30px;
  position: absolute;
  bottom: 30px;
  background: rgba(112, 112, 112, 0.623);
  border-radius: 0 5px 5px 0;
}

.desc h4 {
  font-size: 1.3rem;
}

/** -------------------------------------------------------- Main -------------------------------------------------------- */
main {
  padding: 120px 60px 0 60px;
}

.background {
  background: rgba(0, 0, 0, 0.123);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 120px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  overflow: auto;
}

.container-row-name {
  color: var(--text-color);
  margin-bottom: 25px;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
}

.container-row-name i {
  font-size: 2rem;
}
.scroll {
  display: flex;
  align-items: center;
  gap: 2%;
  height: 230px;
  overflow: hidden;
  margin: 0 30px;
}

.container-row {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  scroll-behavior: smooth;
}

.move-right {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  height: 100%;
  background: var(--button-color);
  color: var(--text-color);
  padding: 0 5px;
  font-size: 1.3rem;
  border-radius: 0 5px 5px 0;
  opacity: 50%;
  transition: 0.1s ease-in-out;
  z-index: 999;
}
.move-right:hover {
  opacity: 100%;
  transition: 0.1s ease-in-out;
  z-index: 999;
}

.move-left {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  height: 100%;
  background: var(--button-color);
  color: var(--text-color);
  padding: 0 5px;
  font-size: 1.3rem;
  border-radius: 5px 0 0 5px;
  opacity: 50%;
  transition: 0.1s ease-in-out;
  z-index: 999;
}
.move-left:hover {
  opacity: 100%;
  transition: 0.1s ease-in-out;
  z-index: 999;
}

.container-row a {
  text-decoration: none;
}

.container {
  background: var(--container-color);
  padding: 5px;
  width: 230px;
  color: var(--text-color);
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: 0.3s ease-in-out;
}

.container:hover {
  transform: scale(110%);
  transition: 0.3s ease-in-out;
}

.container img {
  width: 230px;
  height: 140px;
  object-fit: cover;
  border-radius: 5px;
}
.container p {
  padding: 10px 5px 5px 5px;
}

/** ------------------------------------------ Footer ------------------------------------------ */
footer {
  background-color: var(--primary-color);
  color: white;
  height: fit-content;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.content-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container ul {
  list-style: none;
  margin: 40px 0 40px 0;
  display: flex;
}

.content-container li:not(:last-of-type) {
  padding-right: 15px;
}

.content-container li a i {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: 0.1s ease-in-out;
}

.content-container li a i:hover {
  color: aqua;
  transform: scale(130%);
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.content-container h1 {
  margin: 10px 0;
}

.content-container p a {
  opacity: 70%;
  text-decoration: none;
  color: white;
}

.content-container p {
  text-align: center;
}
/** ------------------------------------------ Wave ------------------------------------------ */
.wave {
  aspect-ratio: 960/50;
  background-repeat: no-repeat;
  background-size: cover;
}

.wave-img-1 {
  background-image: url(../IMG/Layered-Waves.svg);
}

/** ------------------------------------------ CSS Extra Class ------------------------------------------ */
.shadow {
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.151);
}
