:root {
  --primary-color: rgb(43, 43, 43);
  --secondary-color: rgb(112, 112, 112);
  --container-color: radial-gradient(rgb(92, 92, 92), rgb(43, 43, 43));
  --text-color: white;
}

.white-mode {
  --primary-color: rgb(43, 43, 43);
  --secondary-color: rgb(243, 243, 243);
  --container-color: radial-gradient(rgb(236, 236, 236), rgb(201, 201, 201));
  --text-color: black;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}

body {
  background: var(--secondary-color);
  height: 100%;
}

/** -------------------------------------------------------- Navbar Start -------------------------------------------------------- */
.navbar {
  background-color: var(--primary-color);
  width: 100vw;
  color: white;
  display: flex;
  align-items: center;
  position: relative;
  position: fixed;
}
/*? ------------------------------------------ Logo ------------------------------------------ */
.break-line {
  font-size: 1.6rem;
}

.navbar-content {
  display: flex;
  align-items: center;
}

.navbar-content a {
  display: flex;
  align-items: center;
  padding: 0 20px 0 20px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.navbar-content a:hover {
  color: #79dbff;
  transition: 0.1s ease-in-out;
}

.logo {
  margin: 10px 0;
}

/*? ------------------------------------------ Darkmode ------------------------------------------ */
.settings {
  display: flex;
  position: absolute;
  right: 0;
  list-style-type: none;
  padding-right: 20px;
}

#dark_mode_btn {
  background: none;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  transition: 0.15s ease-in-out;
}

#dark_mode_btn:hover {
  background: rgba(128, 128, 128, 0.432);
  padding: 5px;
  border-radius: 5px;
  transition: 0.1s ease-in-out;
}
/** -------------------------------------------------------- Navbar Ende -------------------------------------------------------- */
main {
  padding: 100px 60px 0 60px;
}

.container {
  background: var(--container-color);
  padding: 5px;
  width: fit-content;
  color: var(--text-color);
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.container img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.container p {
  padding: 10px 5px 5px 5px;
}

.container-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
}
/** ------------------------------------------ CSS Extra Class ------------------------------------------ */
.shadow {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.137);
}
