:root {
  --primary-color: rgb(43, 43, 43);
  --secondary-color: rgb(112, 112, 112);
  --container-color: radial-gradient(rgb(92, 92, 92), rgb(43, 43, 43));
  --text-color: white;
}

.white-mode {
  --primary-color: rgb(43, 43, 43);
  --secondary-color: rgb(221, 220, 220);
  --container-color: radial-gradient(rgb(236, 236, 236), rgb(201, 201, 201));
  --text-color: black;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}

body {
  background: var(--secondary-color);
  height: 100%;
}

/** -------------------------------------------------------- Main -------------------------------------------------------- */
main {
  padding: 120px 90px 0 90px;
}

.error {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: fit-content;
}

.message:not(.hover-text) {
  font-size: 1.6rem;
  color: var(--text-color);
  font-weight: 900;
}

.message:nth-child(3) {
  font-size: 5rem;
}

.hover-text {
  visibility: hidden;
  background-color: white;
  padding: 10px;
  width: fit-content;
  position: absolute;
  bottom: -115px;
  right: -210px;
  border-radius: 8px;
  color: black;
  width: 340px;
  transition: 0.3s;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3),
    0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
}

.hover-text::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: 1.5em;
  border: 0.75rem solid transparent;
  border-top: none;

  border-bottom-color: #fff;
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
}

.hover-text p {
  margin-top: 6px;
  line-height: 1.2;
}

.error:hover .hover-text {
  visibility: visible;
  animation-name: show-up;
  animation-duration: 0.5s;
  cursor: default;
}

.error:hover {
  cursor: default;
}

@keyframes show-up {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/** ------------------------------------------ CSS Extra Class ------------------------------------------ */
.shadow {
  text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.247);
}
